.postContainer {
    width: 600px;
    border: 1px solid #007BFF;
    margin: 0px 15px 15px 15px;
    box-shadow: 0px 0px 5px rgb(89, 168, 221);
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
}

.postWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}


.postSubreddit {
    font-size: 12px;
    padding: 5px;
    color:#888888;
    font-weight: bold;
}

.postAuthor, .postUTC {
    font-size: 12px;
    padding: 5px;
    color:#888888;
}

.postExternalLink{
    color: blue;
    font-size: 12px;
    cursor: pointer;
}

.fa-arrow-up-right-from-square{
    color: blue;
    cursor: pointer;
}

.postTitle {
    font-weight: bold;
    font-family: 'poppins';
}

.postUpvotes {
    color: #007BFF;
}

.postImage, .postVideo {
    max-width: 600px;
}

.commentButton {
    margin: 2px 0 2px 0;
    background-color: #007bff31;
    border: 2px solid #007bff31;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 5px;
    color: #007BFF;
    width: 100%;
}

.commentButton:hover {
    background-color: #007bff86;
    color: #fff;
}

.postUserLink {
    color:#888888;
    text-decoration: none;
    font-family: 'poppins';
    font-size: 10px;
    font-weight: 400;
}

.postUserLink:hover {
    text-decoration: underline;
}

.postReadMore {
    margin: 10px 0 10px 0;
    font-weight: 600;
    font-size: 15px;
    font-family: 'poppins';
}

.postReadMore:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 820px) {
    .postContainer {
        justify-content: center;
        width: 350px;
        font-size: 13px;
        margin: 0px 5px 5px 5px;
    }

    .postImage, .postVideo {
        max-width: 350px;
    }

    .postUTC{
        display: none;
    }
}