.postContainer {
    width: 600px;
    border: 1px solid black;
    margin: 15px;
    box-shadow: 2px 2px #888888;
    border-radius: 5px;
    padding: 5px;
}

.postWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.postSubreddit, .postAuthor, .postUTC {
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    color:#888888
}

.postExternalLink{
    color: blue;
    font-size: 12px;
    cursor: pointer;
}

.fa-arrow-up-right-from-square{
    color: blue;
    cursor: pointer;
}

.postTitle {
    font-weight: bold;
}

.postUpvotes {
    color: orangered;
}

.postImage, .postVideo {
    max-width: 600px;
}

.postComments {
    color: orangered;
    cursor: pointer;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}