.topbarWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins';
}

.boardTopBarButton {
    text-decoration: none;
}

.topbarLinks {
    text-decoration: none;
}