.boardContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.boardTopBarButton {
    padding: 10px;
    margin: 20px;
}

.fa-solid {
    color: #fff;
    margin-right: 5px;
}

.boardTopBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 642px;
}

.postUpvotes {
    color: #007BFF;
}

.boardLoading {
  width: 642px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: orangered;
  font-family: 'poppins';
  font-weight: 400;
  font-size: 20px;
}