.boardContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.boardTopBarButton {
    padding: 10px;
    margin: 20px;
}

.fa-solid {
    color: orangered;
    margin-right: 5px;
}

.boardTopBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 642px;
}