.navbarContainer {
    background-color: rgb(200, 222, 236);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logoImage {
    max-width: 50px;
    margin: 5px;
}

.navbarTitle {
    width: 100px;
    margin: 10px;
}

.navbarWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

